/* .input label{
    font-size: 22px;
}

.input input
{
    font-size: 22px;
    font-weight: 600;
}


.register button{
    font-size: 20px;
}

.register textarea{
    font-size: 20px;
} */
.registerFormUser {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-weight: bold;
    color: #4F709D;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .alert {
    margin-top: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-primary:disabled {
    background-color: #355681; 
    cursor: not-allowed;
  }
  