<div class="container-fluid my-4">

  <div class="profile">
    <h1 style="font-weight: 600;">Profile</h1>
  </div>
  <hr>


  <div class="username  my-3">
    <div class="userall">
      <img [src]="user.img" alt="">
      <div class="user-data">
  
        <h2>{{userdata.name}}</h2>
        <h4>{{userdata.username}}</h4>
        <h6>{{userdata.email}}</h6>    
      </div>

    </div>
    <div class="userBtns d-flex gap-3">
      <button type="button" class="btn btn-outline-secondary p-2">Share Profile</button>
      <button type="button" class="btn btn-outline-info p-2">Add CV</button>

    </div>
    
  </div>
  <hr>

  <div class="personal_info my-3">
    <h3 style="font-weight: 600;">Personal Information</h3>

    <div class="user_info my-3">
      <div class="name">
        <h5>Firest Name</h5>
        <h6>{{userdata.name}}</h6>

      </div>

      <div class="name">
        <h5>Last Name</h5>
        <h6>{{userdata.name}}</h6>

      </div>

      <div class="name">
        <h5>User Email</h5>
        <h6>{{userdata.email}}</h6>

      </div>


      <div class="name">
        <h5>User Country</h5>
        <h6>{{userdata.country}}</h6>

      </div>


      <div class="name">
        <h5>User Experienees</h5>
        <h6>{{userdata.experience}}</h6>

      </div>


      <div class="name">
        <h5>User Education</h5>
        <h6>{{userdata.education}}</h6>

      </div>


      <div class="name w-75">
        <h5>Bio</h5>
        <h6>{{userdata.bio}}</h6>

      </div>

    </div>

  </div>

  <hr>

  <div  class="address">
    <h3 style="font-weight: 600;">Address</h3>

    <div class="user_info my-3">
      <div class="name">
        <h5>User Address</h5>
        <h6>Egypt,Portsaid</h6>

      </div>

      <div class="name">
        <h5>User Number</h5>
        <h6>+02<span>12345678910</span></h6>

      </div>

      <div class="name">
        <h5>User code</h5>
        <h6>+00</h6>

      </div>


      <div class="name">
        <h5>User Country</h5>
        <h6>{{userdata.country}}</h6>

      </div>


   



    </div>
  </div>



</div>