*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .username{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.userall{
    display: flex;
    align-items: center;
    gap:20px;
}
.username img{
    width: 150px ;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-data h2{
    font-weight: 600;
}

.user-data h4 , .user-data h6{
    font-weight: 500;
    color: rgb(75, 73, 73);
}


/* ======================= */

.user_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.user_info .name{
    gap: 10px;
    width: 45%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    

}

.user_info .name h5{
    font-weight: 600;
    font-size: 25px;
    
}

.user_info .name h6{
    font-weight: 500;
    font-size: 20px;
    color: rgb(77, 75, 75);
    
}

