<div class="single-job ">
    <div class="container">
      <div class="row">
        <div class="col-12 about-job">
          <h1>{{job.job_title}}</h1>
          <div class="d-flex gap-2 mb-2">
            <span class="fu-on">Full Time</span>
            <span class="fu-on">On-site</span>
          </div>
          <span class="small">posted 3 day ago</span>

          <div class="about-position d-flex mt-4 gap-2">
            <div class="d-flex">
              <div class="about-position-child">
                <span class="single-page-details-number">{{job.count_applay}}</span>
                <div class="d-flex flex-column gap-1">
                  <span class="single-page-details-text"
                    >Applicants for
                  </span>
                  <span class="single-page-details-text"
                    >3 open about-position</span
                  >
                </div>
              </div>
            </div>
            <div class="about-position-child flex-column gap-2">
              <span class="single-page-details-number">{{job.pending_count}}</span>
              <span class="single-page-details-text"> pending</span>
            </div>

            <div class="about-position-child flex-column gap-2">
              <span class="single-page-details-number">{{job.in_consideration_count}} </span>
              <span class="single-page-details-text"> In Consideration</span>
            </div>
            <div class="about-position-child flex-column gap-2">
              <span class="single-page-details-number">{{job.rejected_count}}</span>
              <span class="single-page-details-text"> Not Selected</span>
            </div>
          </div>
          <hr class="my-3 border-secondary" />
          <button (click)="applay(job.job_id)" type="button" class="btn btn-primary applay-for-job">
            Applay For Job
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 about-job mb-4">
          <h1 class="mb-4">Job Details</h1>
          <div class="job-details d-flex gap-3">
            <span class="single-page-details-text">Location :</span>
            <span>{{job.location}}</span>
          </div>
          <div class="job-details d-flex gap-3">
            <span class="single-page-details-text">Career Level:</span>
            <span>Entry Level (Junior Level / Fresh Grad)</span>
          </div>
          <div class="job-details d-flex gap-3">
            <span class="single-page-details-text">Education Level: </span>
            <span> Bachelor's Degree</span>
          </div>
          <hr class="my-3 border-secondary" />
          <h1>Job Descreption</h1>
          <p class="single-page-details-text pt-2">
           {{job.description}}
          </p>
        </div>
      </div>
    </div>
  </div>