* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ============================== */
.contint {
  /* border: solid; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* ================================== */
.left_side {
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}

/* ========================= */

.job_details {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid var(--Nav); */
  border: var(--border);
  /* border:  solid .05px rgb(202, 211, 218) ; */
  border-radius: 8px;
  transition: 0.7s ease;
  background-color: white ;
  /* box-shadow: 1px 1px 10px  gray ; */
}
.job_details:hover {
  transform: scale(1.04);
  cursor: pointer;
}

/* ================== */
/* job_img */

.job_img img {
  width: 65%;
}
/* ============================= */
.job_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px 0px;
}

/* ======================== */
.job_btns {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

/* ====================================== */

.right_side {
  /* border: solid green; */
}


/* ======================= */
.companys{
display: flex;
flex-wrap: wrap;
gap: 5px;
justify-content: space-around;
padding: 10px ;
border: solid var(--Nav);
background-color: white;
border-radius: 15px;


}


.company_log{
    width: 20%;
}

.company_log img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* ======================================== */

.right_side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}

/* ============================================= */

.apps{
    padding: 15px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid var(--Nav);
    border-radius: 15px;
    background-color: white;
}
.app h5{
    font-weight: 600;
}

.apps p{
    font-weight: 500;
}

.apps_logo{
    display: flex;
    align-items: center;

}

.appstore{
    display: flex;
    align-items: center;
    gap: 10px;
}

.appstore img{
    width: 30%;
}
/* ======= */

.cart{
    padding: 15px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid var(--Nav);
    border-radius: 15px;
    background-color: white;
    text-align: center;

}

.flipkart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flipkart img{
    width: 15%;
}


/* ====================================w=============== */