.navbar{
    background-color: var(--Nav) !important;
    
}

.container-fluid > a{

    color: var(--log_text);
    font-size: 25px;
}

.dropdown{
    border: solid 1px white;
    border-radius: 7px;
}

.navbar-nav li a{
    color: var(--log_text);

}

.Btns button{
    color: var(--log_text);
    background-color: var(--nav);

}


.active_link{
    border-bottom: solid 2px var(--log_text);
    
}

/* ============================================ */

/* at small screens */
.container-fluid{
    background-color: var(--Nav);
}

.fa-solid {
    color: var(--log_text);

}

.offcanvas-body ul li a{
    color: var(--log_text);
    text-decoration: none;

}
.offcanvas-body ul li {
    color: var(--log_text);
    list-style: none;
}
/* animation animate charcter  */
.navbar-brand 
    {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        rgba(217, 197, 236, 0.4) 0%,
        rgba(192, 206, 192, 0.4) 29%,
        rgba(172, 169, 44, 0.4) 67%,
        #832828 80%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size:25px;
    }
    @keyframes textclip {
    to {
        background-position: 200% center;
    }
    }